* {
  font-family: Microsoft JhengHei;
  font-size: initial;
  box-sizing: border-box;
  letter-spacing: initial;
  line-height: initial;
}

* > * {
  font-size: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.d-none {
  display: none !important;
}

.spinner {
  border: 3px solid #0067e6;
  border-right: 3px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin: 0 28px;
  animation: rotateRound 1s linear infinite;
}

@keyframes rotateRound {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-container {
  padding: 25px 0;
  display: grid;
  gap: 10px;
}
@media (min-width: 768px) {
  .button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.btn {
  color: #fff;
  background-color: #0071e3;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #0071e3;
  border-style: solid;
  border-radius: 8px;
  padding: 7px 28px;
  font-weight: bold;
  font-size: 20px;

  &.btn-outline {
    color: black;
    background-color: #fff;
    border-color: #d2d2d7;
  }

  &:disabled,
  &.btn-outline:disabled {
    color: white;
    background-color: #f5f5f7;
    border-color: #f5f5f7;
    cursor: default;
  }
}

.form-select {
  border: none;
  border-radius: 8px;
  color: black;
  background-color: #f5f5f7;
  width: 100%;
  padding: 7px 14px;
}

select-component {
  position: relative;
  cursor: default;

  .select-button-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
  }

  .select-value {
    border: none;
    background-color: #f5f5f7;
    padding: 7px 14px;
    width: 100%;
    min-height: 35px;
    border-radius: 8px;
  }

  .select-option-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2147011000;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: white;
    width: 100%;
    max-height: 175px;
    overflow-x: hidden;
    overflow-y: auto;

    .select-option {
      padding: 7px 14px;

      &.selected,
      &:hover {
        color: white;
        background-color: #0071e3;
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

select-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

payment-method {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

home-page {
  height: 100vh;
  display: flex;
  align-items: center;

  .title {
    color: #6e6e73;
    text-align: center;
    font-size: 2.5rem;
  }

  .container {
    width: 95%;
    max-width: 768px;
    margin: 0 auto;
  }

  .form-container {
    display: flex;
  }

  .open-modal {
    white-space: nowrap;
  }
}

modal-shell {
  width: 100%;
  min-height: 100vh;
  background-color: #000000b3;
  position: fixed;
  top: 0;
  z-index: 2147011000;

  .modal {
    width: 90%;
    max-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: white;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .modal-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .close {
    cursor: pointer;
  }

  .modal-body {
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
  }

  .modal-footer {
    padding: 12px;
  }
}

product-page {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  @media (min-width: 768px) {
    .product-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  .product-image {
    width: 100%;
    justify-self: center;
  }

  .product-name {
    margin-bottom: 7px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  @media (min-width: 768px) {
    .product-name {
      margin-bottom: 12px;
      font-size: 1.5rem;
    }
  }

  .product-price {
    font-size: 0.875rem;
    color: #6e6e73;
    margin-bottom: 7px;
  }
  @media (min-width: 768px) {
    .product-price {
      font-size: 1.125rem;
      margin-bottom: 12px;
    }
  }

  .select-container {
    grid-column: span 2 / span 2;
  }
  @media (min-width: 768px) {
    .select-container {
      grid-column: auto;
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .payment-method-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .pre-oder-note {
    padding-top: 25px;
    font-size: 14px;
  }

  .no-stock {
    padding-top: 25px;
    color: #dc2626;
    text-align: center;
  }
}

added-message-page {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .message-wrapper {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .message {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  added-message-page {
    .message-wrapper {
      margin: 5rem 0;
    }
  }
}
